*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    background-color: #2C3E50;
}
.content{
    background-color: red;
}
.bg_green{
    background-color: #1ABC9C;
}
.item{
    height: 200px;
    text-align: center;
    background-color: aquamarine;
}
