*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #2C3E50;
    height: 75px;
    display: flex;
    align-items: center;
}
.content{
    background-color: red;
}
.jumbo, .about{
    background-color: #1ABC9C;
}
.item{
    height: 200px;
    text-align: center;
    background-color: aquamarine;
}

footer{
    background-color: #2C3E50;
}
.bg_footer_light{
    background-color: #3A546D;
}