*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #2C3E50;
    height: 75px;
    display: flex;
    align-items: center;
}
.my_menu{
    float: right;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 20px;
    color: lightgray;
}
.list-header{
    color: white;
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 20px;
}

.jumbo, .about{
    background-color: #1ABC9C;
}
.list-jumbo{
    display: flex;
    justify-content: center;
    list-style: none;
    font-weight: 500;
    font-size: 18px;
}

.my_hr-lines{
    position: relative;
    max-width: 500px;
    margin: 10px auto;
    text-align: center;
}
.my_hr-lines:before{
    content:" ";
    height: 2px;
    width: 130px;
    display: block;
    position: absolute;
    top: 50%;
    left: 60px;
}
.my_hr-lines:after{
    content:" ";
    height: 2px;
    width: 130px;
    display: block;
    position: absolute;
    top: 50%;
    right: 60px;
}
.my_hr-white::before, .my_hr-white::after {
    background: white;
}
.my_hr-black::before, .my_hr-black::after{
    background-color: black;
}
.my_form{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.my_form input, textarea{
    box-shadow: none;
    border: none;
    border-bottom: 1px solid lightgrey;
    margin: 10px 0;
}
.my_form label{
    margin-top: 20px;
}

.top-footer{
    background-color: #3A546D;
}
.bottom-footer{
    background-color: #2C3E50;
}